.hoverCard {
  position: relative;
  background-color: white;
  box-shadow: 0 0 31px -5px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  padding: 2rem;
  transition: ease-in-out transform 300ms;
}

.hoverCard :hover img {
  margin-top: -5px;
}
