@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
.hero__about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background: url("/about-us-yinyang.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .slide-1 {
  background-image: url("../public/slider-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.readMore {
  clip-path: polygon(0 0, 100% 38%, 100% 100%, 0% 100%);
}

h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: black;
}
p,
li,
span,
div {
  font-family: "Quicksand", sans-serif;
}
a {
  padding: 0;
  margin-top: 0;
}

#footer {
  background: #212529;
  position: relative;
  z-index: 1;
}

.footer-pattern {
  background-image: url("https://hareramainstitute.com/images/pattern-chakras-color.png") !important;
  background-repeat: repeat !important;
  background-size: auto !important;
  background-color: rgba(26, 26, 26) !important;
}
#footer:after {
  content: "";
  position: absolute;
  width: 30em;
  height: 30em;
  background-image: url(https://hareramainstitute.com/images/chakra-white.png);
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.1;
  transform: translate(-36%, -36%);
}

.best-bg::after {
  position: absolute;
  background-image: url(https://hareramainstitute.com/images/chakra-white.png);
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  transform: translate(-36%, -36%);
}
blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 10px;
  border-left: solid 4px #bd0006;
}

.spin-mandala {
  animation: spin 10s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.up-down {
  background-size: cover;
  -webkit-animation: mover 5s infinite alternate;
  animation: mover 5s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
